#stock-image{
    width: 300px;
    height: 300px;
    float: left;
    object-fit: contain;
}

body{
    font-family: 'Fira Sans', sans-serif;
    background-color:#FDFF00 ;

}

#first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
#first span{
    text-align: center;
    width: max-content;
    height: 100%;
    width: 50%;
}

@media only screen and (max-width: 880px){
    #first span{
        width: 100%;
    }
    #stock-image{
        float:none;
    }
}
